In [1]:
import pandas as pd

In [2]:
headers = ['player','season', 'age','team','league', 'position', 'games_played'	, 'games_started', 'minutes', 'fg', 'fga','fg_percent', 'threes_made', 'threes_attempted', 'threepoint_percent','twos_made', 'twos_attempted', 'twopoint_percent', 'efg', 'ft', 'fta', 'ft_percent', 'orb', 'drb', 'rebounds', 'assists', 'steals', 'blocks', 'turnovers', 'fouls', 'points', 'trip_dbl']

In [3]:
df = pd.read_csv('player_data.csv', sep=',', names=headers)

In [4]:
df.head()

,player,season,age,team,league,position,games_played,games_started,minutes,fg,...,orb,drb,rebounds,assists,steals,blocks,turnovers,fouls,points,trip_dbl
0,Tariq Abdul-Wahad,1997-98,23,SAC,NBA,SG,59,16,959,144,...,44,72,116,51,35.0,13.0,65.0,81.0,376.0,NaN
1,Tariq Abdul-Wahad,1998-99,24,SAC,NBA,SG,49,49,1205,177,...,72,114,186,50,50.0,16.0,70.0,121.0,454.0,NaN
2,Tariq Abdul-Wahad,1999-00,25,TOT,NBA,SG,61,56,1578,274,...,101,190,291,98,59.0,28.0,106.0,147.0,697.0,NaN
3,Tariq Abdul-Wahad,1999-00,25,ORL,NBA,SG,46,46,1205,223,...,77,162,239,72,53.0,16.0,87.0,116.0,563.0,NaN
4,Tariq Abdul-Wahad,1999-00,25,DEN,NBA,SG,15,10,373,51,...,24,28,52,26,6.0,12.0,19.0,31.0,134.0,NaN

In [5]:
df.season = df.season.str.extract(r'.*-(\d+)')

In [6]:
df.season = df.season.apply(lambda x: int('19' + x) if 22 <= int(x) <= 99 else int('20' + x))

In [7]:
list(df[df.season < 1996].groupby('player').count().index)

[]

In [11]:
df.columns

Index(['player', 'season', 'age', 'team', 'league', 'position', 'games_played',
       'games_started', 'minutes', 'fg', 'fga', 'fg_percent', 'threes_made',
       'threes_attempted', 'threepoint_percent', 'twos_made', 'twos_attempted',
       'twopoint_percent', 'efg', 'ft', 'fta', 'ft_percent', 'orb', 'drb',
       'rebounds', 'assists', 'steals', 'blocks', 'turnovers', 'fouls',
       'points', 'trip_dbl'],
      dtype='object')

AttributeError: 'DataFrameGroupBy' object has no attribute 'index'