# Combine and Remove Duplicated Columns for Overall DataFrame

In [17]:
import pandas as pd

In [18]:
headers = ['player','season', 'age','team','league', 'position', 'games_played' , 'games_started', 'minutes', 'fg', 'fga','fg_percent', 'threes_made', 'threes_attempted', 'threepoint_percent','twos_made', 'twos_attempted', 'twopoint_percent', 'efg', 'ft', 'fta', 'ft_percent', 'orb', 'drb', 'rebounds', 'assists', 'steals', 'blocks', 'turnovers', 'fouls', 'points', 'trip_dbl', 'all_star']

In [19]:
df = pd.read_csv('players_total.csv', encoding='utf-8', names=headers)

In [20]:
df

,player,season,age,team,league,position,games_played,games_started,minutes,fg,...,drb,rebounds,assists,steals,blocks,turnovers,fouls,points,trip_dbl,all_star
0,Tariq Abdul-Wahad,1997-98,23,SAC,NBA,SG,59,16,959,144,...,72,116,51,35,13,65,81,376,0,No
1,Tariq Abdul-Wahad,1998-99,24,SAC,NBA,SG,49,49,1205,177,...,114,186,50,50,16,70,121,454,0,No
2,Tariq Abdul-Wahad,1999-00,25,TOT,NBA,SG,61,56,1578,274,...,190,291,98,59,28,106,147,697,0,No
3,Tariq Abdul-Wahad,1999-00,25,ORL,NBA,SG,46,46,1205,223,...,162,239,72,53,16,87,116,563,0,No
4,Tariq Abdul-Wahad,1999-00,25,DEN,NBA,SG,15,10,373,51,...,28,52,26,6,12,19,31,134,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12272,Ivica Zubac,2018-19,21,TOT,NBA,C,59,37,1040,212,...,247,362,63,14,51,70,137,525,0,No
12273,Ivica Zubac,2018-19,21,LAL,NBA,C,33,12,516,112,...,108,162,25,4,27,33,73,281,0,No
12274,Ivica Zubac,2018-19,21,LAC,NBA,C,26,25,524,100,...,139,200,38,10,24,37,64,244,0,No
12275,Ivica Zubac,2019-20,22,LAC,NBA,C,72,70,1326,236,...,346,543,82,16,66,61,168,596,0,No
12276,Ivica Zubac,2020-21,23,LAC,NBA,C,34,1,670,109,...,155,233,37,12,28,33,84,285,0,No

In [21]:
df.columns

Index(['player', 'season', 'age', 'team', 'league', 'position', 'games_played',
       'games_started', 'minutes', 'fg', 'fga', 'fg_percent', 'threes_made',
       'threes_attempted', 'threepoint_percent', 'twos_made', 'twos_attempted',
       'twopoint_percent', 'efg', 'ft', 'fta', 'ft_percent', 'orb', 'drb',
       'rebounds', 'assists', 'steals', 'blocks', 'turnovers', 'fouls',
       'points', 'trip_dbl', 'all_star'],
      dtype='object')

In [22]:
round(df['minutes'] / df['games_played'], 1)

0        16.3
1        24.6
2        25.9
3        26.2
4        24.9
         ...
12272    17.6
12273    15.6
12274    20.2
12275    18.4
12276    19.7
Length: 12277, dtype: float64

In [23]:
df['minutes_per_game'] = round(df['minutes'] / df['games_played'], 1)
df['fg_per_game'] = round(df['fg'] / df['games_played'], 1)
df['fga_per_game'] = round(df['fga'] / df['games_played'], 1)
df['threes_made_per_game'] = round(df['threes_made'] / df['games_played'], 1)
df['threes_attempted_per_game'] = round(df['threes_attempted'] / df['games_played'], 1)
df['twos_made_per_game'] = round(df['twos_made'] / df['games_played'], 1)
df['twos_attempted_per_game'] = round(df['twos_attempted'] / df['games_played'], 1)
df['ft_per_game'] = round(df['ft'] / df['games_played'], 1)
df['fta_per_game'] = round(df['fta'] / df['games_played'], 1)
df['orb_per_game'] = round(df['orb'] / df['games_played'], 1)
df['drb_per_game'] = round(df['drb'] / df['games_played'], 1)
df['rebounds_per_game'] = round(df['rebounds'] / df['games_played'], 1)
df['assists_per_game'] = round(df['assists'] / df['games_played'], 1)
df['steals_per_game'] = round(df['steals'] / df['games_played'], 1)
df['blocks_per_game'] = round(df['blocks'] / df['games_played'], 1)
df['turnovers_per_game'] = round(df['turnovers'] / df['games_played'], 1)
df['fouls_per_game'] = round(df['fouls'] / df['games_played'], 1)
df['points_per_game'] = round(df['points'] / df['games_played'], 1)

In [24]:
df.head()

,player,season,age,team,league,position,games_played,games_started,minutes,fg,...,fta_per_game,orb_per_game,drb_per_game,rebounds_per_game,assists_per_game,steals_per_game,blocks_per_game,turnovers_per_game,fouls_per_game,points_per_game
0,Tariq Abdul-Wahad,1997-98,23,SAC,NBA,SG,59,16,959,144,...,2.1,0.7,1.2,2.0,0.9,0.6,0.2,1.1,1.4,6.4
1,Tariq Abdul-Wahad,1998-99,24,SAC,NBA,SG,49,49,1205,177,...,2.8,1.5,2.3,3.8,1.0,1.0,0.3,1.4,2.5,9.3
2,Tariq Abdul-Wahad,1999-00,25,TOT,NBA,SG,61,56,1578,274,...,3.2,1.7,3.1,4.8,1.6,1.0,0.5,1.7,2.4,11.4
3,Tariq Abdul-Wahad,1999-00,25,ORL,NBA,SG,46,46,1205,223,...,3.3,1.7,3.5,5.2,1.6,1.2,0.3,1.9,2.5,12.2
4,Tariq Abdul-Wahad,1999-00,25,DEN,NBA,SG,15,10,373,51,...,2.8,1.6,1.9,3.5,1.7,0.4,0.8,1.3,2.1,8.9

## Output final dataframe to CSV for easier handling

In [25]:
df.to_csv('all_data.csv', encoding='utf-8', index=False)