In [32]:
import pandas as pd

In [33]:
df = pd.read_csv('all_data.csv')

In [34]:
df.columns

Index(['player', 'season', 'age', 'team', 'league', 'position', 'games_played',
       'games_started', 'minutes', 'fg', 'fga', 'fg_percent', 'threes_made',
       'threes_attempted', 'threepoint_percent', 'twos_made', 'twos_attempted',
       'twopoint_percent', 'efg', 'ft', 'fta', 'ft_percent', 'orb', 'drb',
       'rebounds', 'assists', 'steals', 'blocks', 'turnovers', 'fouls',
       'points', 'trip_dbl', 'all_star', 'minutes_per_game', 'fg_per_game',
       'fga_per_game', 'threes_made_per_game', 'threes_attempted_per_game',
       'twos_made_per_game', 'twos_attempted_per_game', 'ft_per_game',
       'fta_per_game', 'orb_per_game', 'drb_per_game', 'rebounds_per_game',
       'assists_per_game', 'steals_per_game', 'blocks_per_game',
       'turnovers_per_game', 'fouls_per_game', 'points_per_game'],
      dtype='object')

In [35]:
#df = df[['age', 'position', 'games_played', 'games_started', 'minutes', 'fg', 'fga', 'threes_made', 'threes_attempted', 'ft', 'fta', 'rebounds', 'assists', 'steals', 'blocks', 'turnovers', 'fouls', 'points', 'trip_dbl', 'all_star']]
df = df[['age', 'position', 'games_played', 'games_started', 'minutes', 'rebounds', 'assists', 'steals', 'blocks', 'turnovers', 'fouls', 'points', 'trip_dbl', 'all_star']]

In [36]:
df.all_star.value_counts()

No     11741
Yes      536
Name: all_star, dtype: int64

In [37]:
df.all_star = [1 if i == 'Yes' else 0 for i in df.all_star]

In [38]:
df.all_star.value_counts()

0    11741
1      536
Name: all_star, dtype: int64

In [39]:
df.head()

,age,position,games_played,games_started,minutes,rebounds,assists,steals,blocks,turnovers,fouls,points,trip_dbl,all_star
0,23,SG,59,16,959,116,51,35,13,65,81,376,0,0
1,24,SG,49,49,1205,186,50,50,16,70,121,454,0,0
2,25,SG,61,56,1578,291,98,59,28,106,147,697,0,0
3,25,SG,46,46,1205,239,72,53,16,87,116,563,0,0
4,25,SG,15,10,373,52,26,6,12,19,31,134,0,0

In [40]:
df.to_csv('simple_data.csv', index=False)

In [41]:
df.columns

Index(['age', 'position', 'games_played', 'games_started', 'minutes',
       'rebounds', 'assists', 'steals', 'blocks', 'turnovers', 'fouls',
       'points', 'trip_dbl', 'all_star'],
      dtype='object')